{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
   <p class="h1">DTC TP02 Symfony</p>
   <p>
      <ul>
         <li>CRUD USER via ligne de commande php bin/console make:crud [nomEntity]</li>
         <li>Installation webpack & bootstrap</li>
      </ul>
   </p>
{% endblock %}
