{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <p class="text-center h1">Modification utilisateur</p>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
