{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <p class="text-center h1">Ajout utilisateur</p>

    {{ include('user/_form.html.twig') }}

{% endblock %}
